@model FootBallPool.Models.ChangePass

@{

    var user = (FootBallPool.Models.User.UserInfo)Session["User"];

}

<div class="container">

    <h2>Cambiar Contraseña</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            <h4>@ViewBag.Title</h4>
            <hr />
            @Html.ValidationSummary(true)
            <div class="form-group">
                @Html.LabelFor(model => model.OldPassword, new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.OldPassword, new { htmlAttributes = new { @placeholder = "Contraseña Antigua", @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.OldPassword)
                </div>
            </div>


            <div class="form-group">
                @Html.LabelFor(model => model.NewPassword, new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @placeholder = "Contraseña Nueva", @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NewPassword)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ConfirmPassword, new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @placeholder = "Confirmar Contraseña Nueva", @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ConfirmPassword)
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-4 col-md-8">
                    <input type="submit" value="Guardar" class="btn btn-success" />
                    @Html.ActionLink("Cancelar", "Index", "User", null, new { @class = "btn btn-default" })
                </div>
            </div>
        </div>
    }
</div>
<script type="text/javascript">
    function ShowErrorPass(error) {
        alert(error);
    };
</script>
@if (ViewBag.JavaScriptFunction != null || ViewBag.JavaScriptFunction2 != null)
{
    <script type="text/javascript">
        @Html.Raw(ViewBag.JavaScriptFunction)
    </script>
}
